# <font  color = 'green'>SCRAPING BOOKS FROM FRONT PAGE</font>

In [89]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [99]:
# Generation of 50 links to scrap the data from.
data = []
for i in tqdm(range(1,51)):
    link = 'https://books.toscrape.com/catalogue/page-' +  str(i) + '.html'  # Creating the link

    res = requests.get(link)                    # Sending request to the link

    soup = BeautifulSoup(res.text, 'html.parser')    # Scraping data in html format
    
    for sp in soup.find_all('li', class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):    # Seatching the attribute and performing op.

        img_link      =       'https://books.toscrape.com/' + sp.find('img').get('src')
        book_link     =       'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')      # There were
                                                                                                            # typos so [6:]gets the href
        title         =       sp.find_all('a')[-1].get('title') # gets the title
        rating        =       sp.find('p').get('class')[-1]    # to get the star rating   
        price         =       sp.find('p', class_='price_color').text[1:]
        stock         =       sp.find('p', class_= 'instock availability').text.strip()
        data.append([title, rating, price, stock, book_link, img_link])  # Saving scraped data in a list

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [01:03<00:00,  1.27s/it]

1. First task is to move into li tags and scrap the data from it.
2. Move into the link in the li tag and try scraping the book info from it.

In [100]:
data[0]

['A Light in the Attic',
 'Three',
 '£51.77',
 'In stock',
 'https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
 'https://books.toscrape.com/../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg']

In [101]:
len(data)   # For confirming the scraping has been done.

1000

In [102]:
df = pd.DataFrame(data, columns=['title', 'rating', 'price', 'stock', 'book_link', 'img_link'])

In [103]:
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...

In [104]:
df.isnull().sum()

title        0
rating       0
price        0
stock        0
book_link    0
img_link     0
dtype: int64

In [105]:
df.to_csv('books.csv', index=False)